@import "https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: #0571C2;
    color: rgba(0, 0, 0, .8);
    display: grid;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    weight: 100vw;
}

.signup-container {
    display: grid;
    grid-template-areas: "left right";
    max-width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    position: relative;

    .left-container {
        background: white;
        overflow: hidden;
        padding: 40px 0 0 0;
        position: relative;
        text-align: center;
        width: 300px;

        h1 {
            color: rgba(0, 0, 0, .8);
            display: inline-block;
            font-size: 24px;

            i {
                background: #f7b1ab;
                border-radius: 50%;
                color: #807182;
                font-size: 24px;
                margin-right: 5px;
                padding: 10px;
                transform: rotate(-45deg);
            }
        }

        .girl {
            position: absolute;
            bottom: -5px;
            left: -50%;
            transform: translateX(15%);

            img {
                width: 100%;
            }
        }
    }

    .right-container {
        background: #aacce5;
        display: grid;
        grid-template-areas: "." ".";
        width: 100%;
        box-shadow: rgb(50 50 93 / 25%) 0px 10px 0px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
        position: relative;
        transition: all .3s ease-out;

        &.load {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: black;
                opacity: .6;
            }
        }

        &::before {
            transition: all .3s ease-out;
        }

        .card_loader {
            position: absolute;
            width: 80%;
            height: auto;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 50px;
            background: white;
            display: none;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

            .steps {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .step {
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border: 2px solid #ACACA6;
                    border-radius: 50%;
                    transition: background 1s;

                    &.selected {
                        border: 2px solid #4B81BD;
                        transform: scale(1.1);
                    }

                    &.completed {
                        border: 2px solid #4B81BD;
                        background: #4B81BD;
                    }
                }
            }

            .logInstallContainer {
                width: 100%;
                height: 100%;
                margin-top: 40px;
                box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
                padding: 30px;

                .error {
                    color: orangered;
                }

                .sucess_install {
                    color: green;
                    font-weight: 800;
                    font-size: 20px;
                }
            }
        }

        header {
            padding: 40px;

            h2 {
                &:nth-of-type(1) {
                    color: rgba(0, 0, 0, .8);
                    font-size: 28px;
                    font-weight: 600;
                }
            }

            .form_section {
                width: 100%;
                margin: 0 10px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    flex: 1 1 100%;
                    color: rgba(0, 0, 0, .8);
                    width: 100%;
                }

                input {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                    border: 1px solid rgba(0, 0, 0, .1);
                    border-radius: 4px;
                    height: 38px;
                    line-height: 38px;
                    padding-left: 5px;
                    color: rgba(0, 0, 0, .8);
                    width: 100%;

                    &::placeholder {
                        opacity: .5;
                    }
                }

                .radio-container {
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, .1);
                    border-radius: 4px;
                    display: flex;
                    padding: 5px;
                    margin-right: 20px;
                    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;

                    label {
                        background: transparent;
                        border: 1px solid transparent;
                        border-radius: 2px;
                        display: inline-block;
                        height: 26px;
                        line-height: 26px;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        transition: 0.2s all ease-in-out;
                        width: 100%;
                        cursor: pointer;
                    }

                    input[type="radio"] {
                        display: none;

                        &:checked {
                            + {
                                label {
                                    background: #AACCE5;
                                    border: 1px solid rgba(0, 0, 0, .1);
                                }
                            }
                        }
                    }

                    input {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        footer {
            align-items: center;
            display: grid;
            padding: 5px 40px;

            button {
                border: 1px solid rgba(0, 0, 0, .2);
                height: auto;
                line-height: 38px;
                width: auto;
                padding: 5px 10px;
                border-radius: 19px;
                font-family: 'Montserrat', sans-serif;

                &:hover {
                    cursor: pointer;
                }
            }

            #back {
                background: #fff;
                transition: 0.2s all ease-in-out;

                &:hover {
                    background: #171a2b;
                    color: white;
                }
            }

            #next {
                background: #807182;
                border: 1px solid transparent;
                color: #fff;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                &:hover {
                    background: #171a2b;
                }
            }
        }

        .set {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            .upload {
                width: 100%;
                margin: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                .uploader {
                    display: block;
                    clear: both;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 600px;

                    label {
                        float: left;
                        clear: both;
                        width: 100%;
                        padding: 2rem 1.5rem;
                        text-align: center;
                        background: #fff;
                        border-radius: 7px;
                        border: 3px solid #eee;
                        transition: all 0.2s ease;
                        user-select: none;

                        &:hover {
                            border-color: #454cad;
                        }
                    }

                    label.hover {
                        border: 3px solid #454cad;
                        box-shadow: inset 0 0 0 6px #eee;

                        #start {
                            i.fa {
                                transform: scale(0.8);
                                opacity: 0.3;
                            }
                        }
                    }

                    #start {
                        float: left;
                        clear: both;
                        width: 100%;

                        i.fa {
                            font-size: 50px;
                            margin-bottom: 1rem;
                            transition: all 0.2s ease-in-out;
                        }
                    }

                    #start.hidden {
                        display: none;
                    }

                    #response {
                        float: left;
                        clear: both;
                        width: 100%;

                        #messages {
                            margin-bottom: 0.5rem;
                        }
                    }

                    #response.hidden {
                        display: none;
                    }

                    #file-image {
                        display: inline;
                        margin: 0 auto 0.5rem auto;
                        width: auto;
                        height: auto;
                        max-width: 50px;
                    }

                    #file-image.hidden {
                        display: none;
                    }

                    #notimage {
                        display: block;
                        float: left;
                        clear: both;
                        width: 100%;
                    }

                    #notimage.hidden {
                        display: none;
                    }

                    progress {
                        display: inline;
                        clear: both;
                        margin: 0 auto;
                        width: 100%;
                        max-width: 180px;
                        height: 8px;
                        border: 0;
                        border-radius: 4px;
                        background-color: #eee;
                        overflow: hidden;
                    }

                    .progress {
                        display: inline;
                        clear: both;
                        margin: 0 auto;
                        width: 100%;
                        max-width: 180px;
                        height: 8px;
                        border: 0;
                        border-radius: 4px;
                        background-color: #eee;
                        overflow: hidden;
                    }

                    .progress[value] {
                        &::-webkit-progress-bar {
                            border-radius: 4px;
                            background-color: #eee;
                        }

                        &::-webkit-progress-value {
                            background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                            border-radius: 4px;
                        }

                        &::-moz-progress-bar {
                            background: linear-gradient(to right, #393f90 0%, #454cad 50%);
                            border-radius: 4px;
                        }
                    }

                    input[type="file"] {
                        display: none;
                    }

                    div {
                        margin: 0 0 0.5rem 0;
                        color: #5f6982;
                    }

                    .btn {
                        display: inline-block;
                        margin: 0.5rem 0.5rem 1rem 0.5rem;
                        clear: both;
                        font-family: inherit;
                        font-weight: 700;
                        font-size: 14px;
                        text-decoration: none;
                        text-transform: initial;
                        border: none;
                        border-radius: 0.2rem;
                        outline: none;
                        padding: 0 1rem;
                        height: 36px;
                        line-height: 36px;
                        color: #fff;
                        transition: all 0.2s ease-in-out;
                        box-sizing: border-box;
                        background: #454cad;
                        border-color: #454cad;
                        cursor: pointer;
                    }
                }

                button {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: none;
                    margin-right: 10px;
                }
            }
        }
    }
}





